/* Content from index.css as opposed to general.css */

/* Media mentions AND partner box */


.media-logo {
  width: 12%;
}

#nytimes {
  width: 24%;
}

#cbs {
  width: 18%;
}


/* Mid stuff  */


.box-text p {
  margin-block-start: 2rem;
  margin-block-end: 0rem;
}

.box-pic {
  width: unset;
}


/* END OF index.css */







/* Overall responsive queries */ 

@media only all and (max-width: 1250px) {
  .container {
    width: 95% !important;
  }
}

@media only all and (min-width: 1250px) {
  html {
    font-size: 110%;
  }
}

@media only all and (max-width: 1050px) {
  html {
    font-size: 90%;
  }
}


/* Universals (?) */

html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;

  line-height: normal;
  color: gold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: normal;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: normal;
}

h5 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 125%;
  font-weight: bold;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  display: inline;
}

.bold {
  font-weight: bold;
}  

.gold {
  color: gold;
}  

.black {
  color: black;
}

.column {
  flex-direction: column;
}



/* Main container - start of contents*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;

  margin: auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
}


/* Top menu "header"*/

header {
  background-color: #0A3C6D;
  transition: all 200ms linear;
  height: 4rem;

  position: fixed; /* Set the navbar to fixed position */

  width: 100%;
}

header img {
  height: 2.75rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  /*   Just to allow the li 100% height */
  height: 100%;
}

#main-menu{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  /*   Just to allow the li 100% height */
  height: 100%;
}


#main-menu li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  height: 100%;

  display: inline-flex;
  align-items: center;
}

#main-menu li:hover {
  background-color: white;
  color: #0A3C6D;
  transition: all 250ms linear;
}



/* Hero banner */

.banner {
  background-color: rgb(10,60,109);
  height: 26rem;
  width: 100%;

  margin: auto;
  padding-bottom: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.welcome {

  opacity: 0;
  padding-top: 3%;
  transition: all 3s; 

  color: white;
  text-align: center;

  margin: auto;

}

.welcome h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}


.button a {
  background-color: gold;

  color: #0A3C6D;

  font-family: 'Arial';
  font-weight: 700;

  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0.5rem;
}

.button span {
  padding-left: 1rem;
  padding-right: 1rem;
}



/* Media mentions AND partner box */

.logo-box {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  width: 100%;

  box-shadow: rgba(0,0,0,0.3) 0px 0px 15px 0px;

  padding-top: 2rem;  
  padding-bottom: 2rem;
}

.logo-box h5 {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: unset;

  margin-bottom: 2rem;
}

.logo-row {
  width: 100%;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* Mid stuff  */

.box {
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.box-text {
  color: darkslategrey;
  width: 40rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-text h3 {
  color: #0A3C6D;
  font-weight: 600;
}


.box-text a {
  color: rgb(235, 90, 10);
}


.box-pic {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box-pic img {
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: 15.25rem;
  max-width: 90%;
}



/* Footer  */

footer {
  background-color: #0A3C6D;
  color: white;
  width: 100%;
}

/* 
footer div img {
  height: 5rem;
}

footer p {
  font-size: 12px;
  margin: 0;
}
 */

/* Footer menu */

#footer-menu {
  display: flex;
  justify-content: center;

  font-size: 13px;

  padding: 2rem 2rem 0 2rem;
}

.footer-menu-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-sub-menu {
  display: inline-flex;
  flex-direction: column;
}

.sub-menu-item:first-child {
  color: gold;
  font-weight: 700;
  line-height: 22px;
}

.sub-menu-item {
  line-height: 16.2px;
}

/* Footer copyright "box"/line */

.copyright-box {
  justify-content: flex-end;
}

.copyright-box>p {
  padding: 0 1rem 1rem 1rem;
}
